@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

*{
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  padding: 10px;
}
input{
  font-family: 'Josefin Sans', sans-serif;
}
.single-card{
  background-color: #F0F1F3;
  min-height: 400px;
  width: 300px;
  border: 1px solid darkblue;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.add-card{
  border: 1px dashed darkblue;
  max-height: 67px;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  background-color: white;

}
.task-numbers{
  border: 1px solid black;
  border-radius: 50%;
  width: 22px;
  text-align: center;
  height: 22px;
  margin-top: 20px;
}
.task-numbers p,.add-task p{
  margin: 2px;
}
.add-task{
  border: 1px solid black;
  border-radius: 50%;
  width: 22px;
  text-align: center;
  cursor: pointer;
  height: 22px;
  margin-top: 20px;
  background-color: #F0F1F3;
}
.head-of-card{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkblue;
}
.head-of-card h3{
  text-align: center;
  overflow: auto;
}
.task{
  background-color: white;
  border: 2px solid white;
  margin: 5px;  
  border-radius: 10px;
  text-align: center;
  border-style: inset;
  overflow: auto;
  padding: 0 5px;
}
#root > div > h1{
  text-align: center;
}
.header-of-todo{
  display: flex;
  justify-content: space-between; 
}
.filter input{
  margin-top: 30px;
  min-height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}
button{
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}
.all-cards{
  display: inline-flex;
  border: 2px solid darkblue;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
.add-column{
  min-height: 40px;
  border-radius: 10px;
  outline: none;
  min-width: 300px;
  padding: 5px;

}
.modal{
  text-align: center;
}
.add-column-buttons{
  margin:10px;
}
.add-column-buttons button{
  width: 150px;
  border-radius: 10px;
  border-color: white;
  border-width: 4px;
  color: white;
}
.add-column-buttons button h3{
  margin: 10px;
}
.add-single-card{
  background-color: darkgreen;
}
.cancel-single-card{
  background-color: darkred;
  color: white;
}
.popup-content {
  border-radius: 10px;
  width: 30% !important;
}
.add-task h3{
  margin: 0;
  overflow: unset;
}
.task h3, .task p{
  margin: 10px auto;
}
.modal > p > span {
  font-weight: 600;
  text-decoration: underline;
  
}
.modal > p{
  font-size: 21px;
}
.tasks-container{
  max-height: 400px;
  overflow: auto;
}
.none{
  display: none;
}
.modal > .error-message-column{
  font-size: 16px;
  color: red;
}
.modal .textarea{
  width: 75%;
  border-radius: 10px;
  min-height: 75px;
  margin: 5px;
}
.modal .textarea[type="textarea"]{
  text-align: center;
  outline: none;
}
.modal .radio-buttons{
  margin: 10px;
}
.task button a{
  text-decoration: unset;
}
.task button a:hover{
  text-decoration: underline;
}
.details-task{
  width: 75%;
  margin: 0 auto;
}
.lightblue-task-details{
  background-color: lightblue;
  border: 2px solid white;
  margin: 5px;  
  border-radius: 10px;
  text-align: center;
  border-style: inset;
  overflow: auto;
  padding: 0 5px;
}
.lightblue-task-details h3{
  display: inline-block;
}